name: hapifyMe Automation Tests (CI)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
          cache: "maven"

      - name: Prepare logs folder
        run: mkdir -p logs

      - name: Run tests (Maven)
        run: mvn -B clean test -Dselenide.headless=true

      - name: Upload Surefire Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: surefire-reports
          path: target/surefire-reports/

      - name: Generate Allure Report
        if: always()
        run: mvn io.qameta.allure:allure-maven:2.12.0:report

      - name: Upload Allure Report (HTML)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report-html
          path: target/site/allure-maven-plugin/
          if-no-files-found: ignore